### The capstone project

In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
#define the url
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [3]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

All the Rows are equal

In [5]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print (i,name)
    col.append((name,[]))

1 Postcode
2 Borough
3 Neighbourhood

In [6]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [7]:
[len(C) for (title,C) in col]

[288, 288, 288]

In [8]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [19]:
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [20]:
# drop cells with a borough that is Not assigned
df_one = df[df.Borough != "Not assigned"].reset_index(drop=True)
df_one.head(15)

  Postcode           Borough     Neighbourhood\n
0      M3A        North York         Parkwoods\n
1      M4A        North York  Victoria Village\n
2      M5A  Downtown Toronto      Harbourfront\n
3      M5A  Downtown Toronto       Regent Park\n
4      M6A        North York  Lawrence Heights\n

In [21]:
df_one.head(15)

   Postcode           Borough     Neighbourhood\n
0       M3A        North York         Parkwoods\n
1       M4A        North York  Victoria Village\n
2       M5A  Downtown Toronto      Harbourfront\n
3       M5A  Downtown Toronto       Regent Park\n
4       M6A        North York  Lawrence Heights\n
5       M6A        North York    Lawrence Manor\n
6       M7A      Queen's Park      Not assigned\n
7       M9A         Etobicoke  Islington Avenue\n
8       M1B       Scarborough             Rouge\n
9       M1B       Scarborough           Malvern\n
10      M3B        North York   Don Mills North\n
11      M4B         East York  Woodbine Gardens\n
12      M4B         East York     Parkview Hill\n
13      M5B  Downtown Toronto           Ryerson\n
14      M5B  Downtown Toronto   Garden District\n

In [24]:
df_one = df_one.replace('\n', '', regex=True)

In [27]:
df_one.head()

  Postcode           Borough   Neighbourhood\n
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights